---
layout: page
---
<div class="content">

<article class="article">
    <h1>{{ post.title }}</h1>
    {{ content }}
</article>

<aside class="course-menu">
    <h3 class="course-menu-title">Copywriting Essencial</h3>
    <ul class="course-content">
            <li class="course-module">
                <h5>Conceitos Básicos de Escrita</h5>
                <ul class="course-lessons">
                    <li class="course-lesson">
                        <span>Aula 01 - </span> <a href="">O que é Copywriting e Como Usa-lo - 5:00</a>
                    </li>
                    <li class="course-lesson">
                            <span>Aula 02 - </span> <a href="">Recursos para Criar uma Carta de Vendas - 5:00</a>
                    </li>
                    <li class="course-lesson">
                            <span>Aula 03 - </span> <a href="">Espalhando Sua Mensagem Pela Web - 5:00</a>
                    </li>
                </ul>
            </li>
        </ul>
</aside>

</div>